
.container

  .row
    .col-md-6.col-md-offset-3
      .profile-image
        .name
          Blake Jon Rego
        .img
          = image_tag 'circle-blake.png'


%ul.icons
  %li= fa_icon "github 2x"
  %li= fa_icon "stack-overflow 2x"
  %li= fa_icon "google-plus 2x"
  %li= fa_icon "facebook 2x"
