
.container
  .profile-image
    .img
      = image_tag 'circle-blake.png'
    .name
      Blake Rego


%ul.icons
  %li= fa_icon "github 2x"
  %li= fa_icon "stack-overflow 2x"
  %li= fa_icon "google-plus 2x"
  %li= fa_icon "facebook 2x"
