

.container
  .project-individual-page
    .row
      .col-md-12
        = render '/home/social_media_links'
    = render '/home/name'

    .row.col-md-8.col-md-offset-2
      .title
        %h1
          = @project.name
      = image_tag @project.image_url_url
      - if (!@project.details.nil?)
        .details
          = render '/projects/details/' + @project.details
      - else 
        .description
          = @project.description

    = render '/home/section_nav'
